<!DOCTYPE html>
<html>
<head>
    <title>Weekly Update</title>
</head>
<body>
<h1>Hello {{ user.username }}</h1>
<p>This is your weekly update from our platform. Here are your posts from this week:</p>

{% if posts %}
    <ul>
        {% for post in posts %}
            <li>
                <strong>{{ post.title }}</strong><br>
                {{ post.content }}<br>
                <em>Posted on: {{ post.created_at }}</em>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>You have not made any posts this week.</p>
{% endif %}
</body>
</html>
